<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAB Airlines</title>
</head>
<body>
    <h1>FAB Airlines 456</h1>

    <div display="flex"><p>Welcome to FAB Airlines.Good evening,
         ladies and gentlemen. Welcome aboard flight 64N with service from
          São Paulo to New York. We're looking forward to making
           this a smooth boarding and an on-time departure. 
        We ask that you please fasten your seatbelts
         at this time and secure all baggage underneath 
         your seat or in the overhead lockers.</p></div>

    <a href="{% url 'index' %}">Flight List </a>
</body>
</html>